body {
     background-color: #000;
}
/* prod fullscreen img */
.lightbox {
     align-items: center;
     background-color: #000 !important;
     bottom: 0;
     display: flex;
     justify-content: center;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: var(--z-index-lightbox);
}
/* preload anti-flashbang */
 .loading-view {
     background-color: #000 !important;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
}
/* fullscreen img close button */
.close__icon {
  fill: #ddd !important;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(180deg,
    rgba(255,255,255,1) 0%,
    rgba(247,231,51,1) 32%,
    rgba(186,70,70,1) 64%,
    rgba(11,10,9,1) 97%);
}

#loading-bar {
    width: 100%;
    height: 5px;
    background-color: #888;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    top: 0;
}
/* Mail-list button */
.leadform-anchored-trigger.js-toggle-button.js-anchor-button.is-open {
    background-color: #ba4646;
}
/* bottom portion of the horizontal scrollbar */
::-webkit-scrollbar:horizontal:last-child {
  background-color: #ddd;
}

/* bottom portion of the vertical scrollbar */
::-webkit-scrollbar:vertical:last-child {
  background-color: #ddd;
}
