/* prod fullscreen img */
.lightbox {
     align-items: center;
     background-color: #000 !important;
     bottom: 0;
     display: flex;
     justify-content: center;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: var(--z-index-lightbox);
}
/* preload anti-flashbang */
 .loading-view {
     background-color: #000 !important;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
}
/* fullscreen img close button */
.close__icon {
  fill: #ddd !important;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(247,231,51,1) 32%, rgba(186,70,70,1) 64%, rgba(11,10,9,1) 97%);
  border-radius: 10px;
}
