/* prod fullscreen img */
.lightbox {
     align-items: center;
     background-color: #000 !important;
     bottom: 0;
     display: flex;
     justify-content: center;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: var(--z-index-lightbox);
}
/* preload anti-flashbang */
 .loading-view {
     background-color: #000 !important;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 100;
}
*/ fullscreen img close button */
.close__icon {
  fill: #ddd !important;
}
